<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/style1.css">
    <title>menu</title>
</head>
<body>
    <header class="main">
     <h1>ZORO</h1>
    </header>
    <section class="groupe">
        <div class="groupe1">
            <div class="groupe2">
                <div class="one un"><a href="/index3/">Magasin</a></div>
                <div class="two un"><a href="/produit/">Produit</a></div>
                <div class="three un"><a href="">Ventes</a></div>
                <div class="four un"><a href="">Stock</a></div>
                <div class="five un"><a href="/">Deconnexion</a></div> <!--renvoie page acceuil-->

            </div>
        </div>
    </section>
</body>
</html>