<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/style1.css">
    <title>PAGE DE CONNEXION</title>
</head>
<body>
    <header></header>
    <section>
        <div class="ZORO"><a href="/index2/">ZORO</a></div>
        <div class="section1">
            <div class="connexion">
                <p>Connectez-vous</p>
                <form action="">
                    <input type="text" name="Identifiant" placeholder="Identifiant"><br>
                    <input type="text" name="Mot de passe" placeholder="Mot de passe"><br>
                    <a href="/index2/"><input type="button" value="Connexion"></a>
                    <a href="#">Si pas de compte inscrivez-vous</a>
                </form>
            </div>
        </div>
    </section>
</body>
</html>